@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/forms";

@font-face {
    font-family: Plus Jakarta Sans ;
    src: url("../src/font/PlusJakartaSans-Regular.ttf");
}

@theme {
  --font-jakarta: Plus Jakarta Sans, "sans-serif";
  --animate-bounce-slow: bounce-slow 3s infinite;

  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
@layer base {
  button:focus, 
  a:focus,
  input:focus,
  select:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
