@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/forms";

@font-face {
    font-family: Plus Jakarta Sans ;
    src: url("../src/font/PlusJakartaSans-Regular.ttf");
}

@theme {
  --font-jakarta: Plus Jakarta Sans, "sans-serif";
  --animate-bounce-slow: bounce-slow 3s infinite;

  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
@layer base {
  html, body {
    overscroll-behavior: none;
  }
  
  button:focus, 
  a:focus,
  input:focus,
  select:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  /* Global select reset for custom icons */
  select {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: none !important;
  }
  select::-ms-expand {
    display: none !important;
  }
}
